streamlit
langchain
langchain-groq
langchain-openai
langchain-core
pypdf
python-dotenv
pandas
tiktoken
plotly
numpy
reportlab
pypdfium2
pytesseract
Pillow
python-docx
groq
chromadb
sentence-transformers
requests
python-docx
tavily-python
